<%= render "customers/nav" %>
<h2 class="text-center"> Add New Customer </h2>
<div class="container bg-white" style="width:50%" >

<%= form_with model:@customer do | form | %>
    <div>
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class:"form-control" %>
        <% @customer.errors.full_messages_for(:first_name).each do | message | %>
          <small class="text-danger">  <%= message %></small>
            <% end %>
    </div>   
    
    <div>
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class:"form-control" %>
        <% @customer.errors.full_messages_for(:last_name).each do | message | %>
            <small class="text-danger">  <%= message %></small>
              <% end %>
    </div>
       
    <div>
        <%= form.label :email %>
        <%= form.email_field :email, class:"form-control" %>
        <% @customer.errors.full_messages_for(:email).each do | message | %>
            <small class="text-danger">  <%= message %></small>
              <% end %>
    </div>
    <div>
        <%= form.label :age %>
        <%= form.text_field :age, class:"form-control" %>
        <% @customer.errors.full_messages_for(:age).each do | message | %>
            <small class="text-danger">  <%= message %></small>
              <% end %>
    </div>
    <div>
        <%= form.label :phone %>
        <%= form.phone_field :phone, class:"form-control" %>
        <% @customer.errors.full_messages_for(:phone).each do | message | %>
            <small class="text-danger">  <%= message %></small>
              <% end %>
    </div><br>

    <div>
        <%= form.label :image %>
        <%= form.file_field :image, class:"form-control" %> 
    </div><br>
    
    <%= form.submit class:"btn btn-success btn-sm " %>
<%= link_to "Back", customers_path, class:"btn btn-primary btn-sm" %>
<% end %>
</div>